*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,a,button{
    font-family: "Merriweather", serif;
    margin-bottom: 0;
}
p,span{
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}
img{
    max-width: 75px!important;
}
nav{
    background-color: azure;
    border-bottom: 1px solid #010133;
    margin-left: 0!important;
    margin-right: 0!important;
}
.task{
    background-color: azure;
    border: 1px solid #010133;
    border-radius: 20px;
}
#addBtn{
    background-color: azure;
    color: #010133;
    border-color: #010133;
    transition: 1s;
}
#addBtn:hover{
    background-color: #7b7bd1;
    color: white;
}
a{
    cursor: pointer;
    color: #010133;
}
a:hover{
    text-decoration: underline!important;

}
.footer{

    background-color: #011a2c;
    color: white;
    width: 100%;
}
